@import url(//db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi);

@font-face {font-family: "Star Jedi"; src: url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot"); src: url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff") format("woff"), url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.svg#Star Jedi") format("svg"); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-all-users{
    padding-top:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.table-container{
    background-color: white;
    margin: auto;
    width: 600px;
}

table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

td i{
    color: #8aa81d;
}

thead{
    background-color: #d5ee65;
    border-bottom: solid 5px #8aa81d;
    color: #000;
}

tr:nth-child(even){
    background: #ddd;
}

tr:hover td{
    background: #c2d470;
    color: white;
}

tr:hover{
    cursor: pointer;
}

.user-container-all{
    padding-top: 100px;
    font-family: 'Star Jedi', arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container{
    position: relative;
    width: 900px;
    height: 80vh;
}

.red-card{
    position: absolute;
    height: 100%;
    width: 350px;
    border-radius: 15px;
    background: #cc3843;
    color: #a32d36;
}

.red-card p{
    position: absolute;
    max-height: 550px;
    transform: rotate(-90deg);
    font-size: 70px;
    left: -180px;
    bottom: 210px;
    font-family: "Star Jedi";
}

.black-card{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 70%;
    height: 70%;
    bottom: 70px;
    left: 230px; 
    background-color: #0c1f2c;
    border-radius: 15px;
    font-size: 13px;
}

.profile-img{
    position: absolute;
    width: 400px;
    height: 400px;
    top: -100px;
    left: -160px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-data{
    font-family: 'Star Jedi', arial;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 50%;
    color: white;
}

.profile-data h2{
    font-family: 'Star Jedi', arial;
}

@media screen and (max-width: 1024px) {

    .user-container{
        position: relative;
        width: 900px;
        height: 80vh;
    }
    
    .red-card{
        margin-left: 350px;
        position: absolute;
        height: 100%;
        width: 350px;
        border-radius: 15px;
        background: #cc3843;
        color: #a32d36;
    }

    .red-card p {
        transform: none;
        position: initial;
        text-align: center;
        font-family: "Star Jedi";
        font-size: 3rem;
    }

    .user-container-all{
        margin-left: -200px;
        padding-top: 100px;
        font-family: 'Star Jedi', arial;
    }
    
    .black-card{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        background-color: #0c1f2c;
        border-radius: 15px;
        font-size: 13px;
    }

    .profile-data h2{
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 600px) {
    
    .container-all-users form .form-search, .form-search:focus{
        width: 74%;
    }


    .table-container {
        width: 100%;
    }
    
    th, td {
        padding: 5px;
    }

    .black-card{
        width: 60%;
        height: 50%;
        bottom: 70px;
        left: 0;
        background-color: #0c1f2c;
        border-radius: 15px;
        font-size: 13px;
        transform: translate(205px, 10px);
    }

    .red-card{
        margin-left: 0;
        height: 80%;
        width: 250px;
        border-radius: 15px;
        background: #cc3843;
        color: #a32d36;
        transform: translate(240px, 10px);
    }

    .red-card p{
        font-size: 2rem;
    }

    .profile-img{
        transform: translate(60px, -135px);
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }

    .profile-img img{
        width: 200px;
        height: 200px;
    }

    .profile-data{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50%;
        color: white;
    }

    .profile-data h2{
        font-size: 0.7rem;
    }
    
}