*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-all-users{
    padding-top:120px;
}

.table-container{
    background-color: white;
    margin: auto;
    width: 600px;
}

table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

thead{
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: white;
}

tr:nth-child(even){
    background: #ddd;
}

tr:hover td{
    background: #367681;
    color: white;
}

tr:hover{
    cursor: pointer;
}

.user-container-all{
    padding-top: 100px;
    font-family: 'Star Jedi', arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container{
    position: relative;
    width: 900px;
    height: 80vh;
    
}

.red-card{
    position: absolute;
    height: 100%;
    width: 350px;
    border-radius: 15px;
    background: #cc3843;
    color: #a32d36;
}

.red-card p{
    position: absolute;
    max-height: 550px;
    transform: rotate(-90deg);
    font-size: 70px;
    left: -140px;
    bottom: 210px;
}

.black-card{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 70%;
    height: 70%;
    bottom: 70px;
    left: 230px; 
    background-color: #0c1f2c;
    border-radius: 15px;
    font-size: 13px;
}

.profile-img{
    position: absolute;
    width: 400px;
    height: 400px;
    top: -100px;
    left: -160px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 50%;
    color: white;
}