.container-form{
    padding-top: 80px;
}

.form-area-login{
    padding: 40px 20px;
}

.signin-title{
    text-align: center;
}

.container-error{
    outline: solid red;
    font-size: 1rem;
    padding: 20px 10px;
    color: red;
    text-align: center;
}


.form-group{
    display: flex;
    flex-direction: column;
    position: relative;

}

.form-group input{
    position: relative;
    border: solid #9e4f60;
}

.form-group input:focus{
    border: solid #9e4f60;
}

.container-input-pass{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px;
}

.form-group .container-input-pass input{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-group .container-input-pass .icon-signin{
    position: absolute;
    display: flex;
    right: 1%;
    bottom: 40%;
    transform: translateY(155%);
    color: gray;
    z-index: 20;
    cursor: pointer;
}

.form-group .container-input-pass > input{
    height: 40px;
    border: solid #9e4f60;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 3px;
}
.form-group .container-input-pass > input:focus{
    background-color: #484848;
    color: #9e4f60; 
    outline: none;
    border: solid #9e4f60;
}

.form-area .btn-create{
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1024px) {
    .form-area-login {
        width: 70%;
    }
}