/* Container Login */
.container-form-login{
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    transform: translateX(0);
    z-index: 3;
    overflow: hidden;
}


.form-area-login{
    font-family: DIN;
    font-size: 24px;
    color: #ddd;
    padding: 80px 50px 0 50px;
    height: 100%;
    width: 100%;
    border-radius: 0 15px 15px 0;
    z-index: 4;
}

.form-group-sign .icon-signin{
    position: absolute;
    display: flex;
    right: 1%;
    bottom: 50%;
    transform: translateY(-25%);
    color: gray;
    z-index: 2;
    cursor: pointer;
}

.form-area-login .btn-create{
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    margin-top: 40px;
    cursor: pointer;
}

.form-area-login .btn-create:hover{
    color: var(--selection);
}

.container-btn-login{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 60px 0 0 0;
}

.container-btn-login .btn-login {
    display: inline;
    background-color: #282727;
    font-size: 2.5rem;
    padding: 10px 15px;
    color: #f4f5f5;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0.8px solid white;
}

.btn-login:hover {
    outline: 0.8px solid yellow;
    color: #282727;
    background-color: yellow;
}

@media screen and (max-width: 600px) {

    

    .container-form-login{
        background-color: var(--background);
        width: 80%;
        height: 70%;
        margin: 0 auto;
        position: unset;
        border-radius: 10px;
    }

    .form-area-login{
        margin: 0 auto;
        padding: 10px 50px 0 50px;
    }

    .container-btn-login{
        margin: 10px 0 0 0;
    }
}