@font-face {
    font-family: DIN;
    src: url('../layout/styles/fonts/DIN.ttf');
}
*{
    font-family: DIN;

}
.container-all{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
    /* padding-top: 150px; */
    gap: 14px;
}

.buttons{
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;

}

.buttons a{
    border: solid #FFE81F;
    cursor: pointer;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    background: none;
}

.buttons a:hover{
    color:black;
    background: white;
    border: solid #2a2a2a;
}

.container-cards{
    display: flex;
}

.container-cards .options{
    flex-direction: column;
    display: flex;
    grid-gap: 50px;
    gap: 50px;
    padding: 0px 15px;
}

.container-cards .options a{
    text-align: center;
    border: solid #FFE81F;
    text-decoration: none;
    color: white;
    padding: 7px 11px;
    border-radius: 12px;
}

.container-cards .options a:hover{
    color:black;
    background: white;
    border: solid #2a2a2a;
}

.wrapper{
    z-index: 1;
    left: 0;
    position: fixed;
    width: 10%;
    height: 100vh;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/background/bg_starsL-fd4661a3ccea.jpg);}

.wrapper-two{
    z-index: 1;
    right: 0;
    position: fixed;
    width: 10%;
    height: 100vh;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/background/bg_starsL-fd4661a3ccea.jpg);
}

@media screen and (max-width: 1024px) {
    
}


@media screen and (max-width: 570px) {
    .container-cards {
        flex-direction: column;
    }
    
    .container-cards .options {
        flex-direction: initial;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
    }

    .container-cards .options a{
        font-size: 0.7rem;
    }

    .container-cards .options .all{
        padding: 7px 27px;
    }

    .buttons{
        grid-gap: 25px;
        gap: 25px;
        flex-direction: column-reverse;
        justify-content: center;
    }
}