.films-appearances-card{
    position: relative;
    border: 1px solid red;
    width: 70%;
    margin: 20px auto;
}

.films-appearances-card hr{

    margin: 5px auto;
    background: gray;
    width: 100%;
    border: none;
    height: 3px;

}

.films-container{
    height: 150px;
    overflow: hidden;
    scroll-behavior: smooth;

}

.carousel{
    display: flex;
    flex-wrap: nowrap;
}

.item-film{
    position: relative;
    width: 30%;
}

.item-film img{
    width: 100%;
    height: 100%;
}

.item-film h4{
    position: absolute;
    bottom: 0;
    text-align: center;
}


.button-next{
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 2rem;
}

