/* Contenedor del texto de la Card */

.container-description{
    width: 40%;
    padding: 15px 0 0 20px;
    
}

.container-description .name-character{
    font-size: 1.3rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;

}

.container-description hr{
    width: 80%;
    margin: 0 auto;
}

/* Primary Column */

.column-primary-description{

    width: 80%;
    margin: 20px auto;
    font-size: 0.5rem;
}

/* Secondary Column */

.column-secondary-description{
    width: 80%;
    margin: 10px auto;
}

.column-secondary-description .secondary-title{
    /* Cambiar la fuente */
    font-size: 1rem;
    font-weight: 400;
    margin: 0px 0;
}

.column-secondary-description .info-bio-card-get{
    padding-top: 10px;
}


.container-description .options{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.container-description .options a{
    text-decoration: none;
    color: white;
    background: blueviolet;
    padding: 12px 18px;
    border-radius: 10px;
}

.container-description .options button{
    border: none;
    text-decoration: none;
    color: white;
    background: blueviolet;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
}

/* Media querys */

@media (max-width: 1024px){

    .container-description{

        padding: 5px 0 0 0;
        
    }

    .container-description .name-character{
        font-size: 1rem;
        width: 90%;
    }

    .container-description hr{
        width: 90%;
    }

    .column-primary-description{

        
        width: 90%;
        margin: 15px auto;
        font-size: 1rem;
    }

    .column-secondary-description .secondary-title{
        
        padding: 0;
        font-size: 0.9rem;
        margin: 5px 0;
        
    }
        
    

    .column-secondary-description{
 
        width: 90%;
        margin: 5px auto;
       
    }



}

@media(max-width:800px){

    .container-description{
        padding: 15px 0 0 10px;
        margin: 0;

    }

    .container-description .name-character{
        width: 100%;
    }
    .container-description hr{
        width: 100%;
        margin: 10px 0;
    }
    
    .column-primary-description{
        font-size: 1rem;
    
        
    }

    .column-secondary-description .secondary-title{
        
        margin: 5px 0 10px 0 ;
        padding: 0;

    }
        
    

    .column-secondary-description{
  
        width: 100%;
        margin: 5px 0;
    }

}

@media (max-width: 600px){

    .container-description{
        width: 90%;
        margin: 0 auto;
        padding: 0;

    }

    .column-primary-description{

        width: 80%;
        margin: 15px auto;
        font-size: 0.8rem;
    }

    .column-secondary-description{

        width: 80%;
        margin: 0 auto;

    }


	
}




