.search-icon,
.form-search {
    height: 50px;
    border: solid #FFE81F;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    background-color: #161616;
}
.search-icon:hover,
.form-search:focus {
    background-color: #161616;
    color: white;
    outline: none;
    border-right-color: #FFE81F;
    border-top-color: #FFE81F;
    border-bottom-color: #FFE81F;
}
/* .search-error,
.search-error:focus,
.search-error:hover {
    
} */
.search-error-text {
    padding-top: 70px;
    color: white;
    position: absolute;
}
.search-icon {
    background: #484848;
    position: relative;
    top: 4px;
    font-size: 24px;
    margin-right: 50px;
    border-radius: 0 5px 5px 0;
    border-left: none;
    color: white;
}

.search-icon:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.form-search,
.form-search:focus {
    border-radius: 5px 0 0 5px;
    border-right: none; 
    color: white;
}