@import url(https://allfont.es/allfont.css?fonts=star-jedi);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Star Jedi', arial; */
}

body{
  background-size: contain;
  background-image: url(https://cdn.wallpapersafari.com/81/95/Z7D2q6.jpg);
  background-attachment: fixed;
}
