@import url(https://allfont.es/allfont.css?fonts=star-jedi);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Star Jedi', arial; */
}

body{
  background-color: rgba(22,22,22,255);
}
