.getAll {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 35px;
    grid-gap: 30px;
    gap: 30px;
    justify-content: center;
}

.getAll button{
    border: solid #9e4f60;
    cursor: pointer;
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
    background: none;
}

.getAll button:hover{
    color: #9e4f60;
    background: black;
    border: solid #2a2a2a;
}