@import url(//db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi);
@font-face {font-family: "Star Jedi"; src: url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot"); src: url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff") format("woff"), url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.svg#Star Jedi") format("svg"); }



nav {
    width: 100vw;
    background-color: rgba(4,11,23,0.7);
    font-size: 1.5rem;
    line-height: 40px;
    height: 90px;
    position: fixed;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

ul{
    list-style:none;
}

.nav > li {
    float: left;
    padding: 0px 8px;
}

li a {
    text-decoration:none;
    color: yellow;
}

@media screen and (max-width: 550px) {
    .hidden{
        display: none;
    }

    nav {
        font-size: 1rem;
    }
}