@font-face {
    font-family: "Star Jedi";
    src: url('../styles/fonts/swfont/SFDistantGalaxy.ttf');
}

.relleno{
    height: 90px;
}

nav {
    width: 100vw;
    font-size: 1.5rem;
    line-height: 40px;
    height: 90px;
    position: fixed;
    z-index: 50;
    background: #2a2a2a;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

ul{
    list-style:none;
}

.nav > li {
    float: left;
    padding: 0px 8px;
}

li a {
    text-decoration:none;
    color: #FFE81F;
}

.nav li ul {
    width: 170px;
    display: none;
    position: absolute;
}

.nav li:hover > ul {
    display:block;
    background: #2a2a2a;
}

.nav li ul li {
    position:relative;
}

.title{
    padding-left: 40px;
}

.title a{
    font-family: "Star Jedi";
}

@media screen and (max-width: 550px) {
    .hidden{
        display: none;
    }

    nav {
        font-size: 1rem;
    }
}